{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {%if messages%} 
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
     {% endif %} 
  {% endwith %}
<p>Welcome, Nathan!</p>

<!-- takes to add tools page-->
<a href="/add_tool_page"><button type="button" class="btn btn-primary btn-lg btn-block">Add Tool</button></a>
<a href="/remove_tool_page"><button type="button" class="btn btn-secondary btn-lg btn-block">Remove Tool</button></a>
<a href="/edit_tool_page"><button type="button" class="btn btn-primary btn-lg btn-block">Edit Tool</button></a>
<a href="/view_tools_page"><button type="button" class="btn btn-secondary btn-lg btn-block">View All Tools</button></a>
{% endblock %}